.start-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.banner-video {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;              /* viktigt */
  left: 0;             /* viktigt */
  width: 100%;
  height: 100%;        /* viktigt */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  /* lägger allt i botten */
  align-items: center;
  padding-bottom: 80px;       /* flyttar upp allt från botten */
  pointer-events: none;
}

  
.start-btn {
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #ff4d4d;
  color: white;
  margin-top: 20px;
}
.phone-overlay,
.warning-box {
  pointer-events: auto; /* men knapparna ska gå att klicka */
}
.warning-box {
  background: rgb(252, 251, 251);
  color: rgb(8, 8, 8);
  padding: 14px;
  margin: 10px auto;
  max-width: 400px;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
  border: 2px solid rgb(7, 7, 7);
  margin-bottom: 50px;
}